<!DOCTYPE html>
<html lang="en">
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" href="/">A-PLACE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/members/login">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="visually-hidden">로그인</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/members/product">
                            <i class="fas fa-shopping-bag"></i>
                            <span class="visually-hidden">상품</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/members/cart">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="visually-hidden">장바구니</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>